# Column headers are values, not variable names

**This is one of the more common data manipulations to get to a tidy form!**

## Un-pivoting into tall format – a toy example

Many call this process of going from a wide data set to tall "un-pivoting" since a pivot table in Excel converts data from the tall format into wide. 

The situation when you need this is that you have data in the column headers that you want in their own column. **The column headers are really a Dimension that should have its own column.**

**The values that are spread across the multiple rows and columns in the body of the table are a Measure that should have a single column.**

- **In Pandas you do a "melt"**
- In `tidyr` this is a "gather"
- In OpenRefine it's a "Transpose->Transpose cells across columns into rows..." operation
- In Tableau this is called a "Pivot"

Let's first define a simple, small data frame:

In [10]:
df = pd.DataFrame({'label':['A','B','C'],
                  'x':[1,2,3],
                  'y':[4,5,6],
                  'z':[7,8,9]})
df

  label  x  y  z
0     A  1  4  7
1     B  2  5  8
2     C  3  6  9

### Minimally, you need to specify 

- the DataFrame to "melt"
- a list of which columns don't get "un-pivoted" – these values will get repeated.

In [11]:
df2 = pd.melt(df, ['label'])
df2

  label variable  value
0     A        x      1
1     B        x      2
2     C        x      3
3     A        y      4
4     B        y      5
5     C        y      6
6     A        z      7
7     B        z      8
8     C        z      9

## More complete `.melt()` statement

More fully, you can explicitly specify the

- list of columns that don't get melted (and get repeated) – `id_vars=`
- list of columns that get melted from columns into rows – `value_vars=`
- name you want for the column that used to be column headers – `var_name=`
- name you want for the column that used to be the table body values – `value_name=`

In [12]:
df2 = pd.melt(df, id_vars=['label'], value_vars=['x','y','z'], var_name='letter', value_name='number')
df2

  label letter  number
0     A      x       1
1     B      x       2
2     C      x       3
3     A      y       4
4     B      y       5
5     C      y       6
6     A      z       7
7     B      z       8
8     C      z       9