# Merging (joining) two data sets

Here we'll read in a second sheet out of the same Excel workbook we first used for names and state lists, and join this new state-level data with the people and states data we exploded from lists into rows.

### This is the Pandas equivalent of an SQL JOIN command!

## Load tidy data as main table

First we need to load our tidy data, which is the result of another exercise on splitting strings into lists and exploding them into rows. [SplitExlodeLists](SplitExplodeLists.ipynb)

In [1]:
import pandas as pd

In [2]:
ps_tidy_min = pd.read_csv('data/people_states_tidy.csv')

## Load state level data to join to our main table

We'll start by loading in a table of the US states, their populations, and the number of congessional house seats they are represented by.

In [3]:
state_pop = pd.read_excel('./data/PeopleStates.xlsx', sheet_name='Sheet2')
state_pop.tail(5)

           state  population_2010  house_seats
45  South Dakota           814191            1
46  North Dakota           672591            1
47        Alaska           710249            1
48       Vermont           625745            1
49       Wyoming           563767            1

## LEFT JOIN

We'll do a LEFT JOIN by using the `merge()` function, specifying which DataFrame is on the "left" and which is on the "right" for the JOIN. It's just the order in which you list them as the first two arguments to `merge()`.

We also need to specify which column contains the ID fields / keys to join on. We put these in the "left_on" and "right_on" arguments.

In [4]:
ps_tidy_pop = pd.merge(ps_tidy_min, state_pop, how='left', left_on='state', right_on='state')
ps_tidy_pop

      name         state  population_2010  house_seats
0    Bobby       Wyoming           563767            1
1    Bobby      Michigan          9884129           14
2      Sue     Wisconsin          5687289            8
3      Sue        Nevada          2700691            4
4      Sue    California         37254503           53
5   Tamika       Florida         18804623           27
6   Tamika    Washington          6724543           10
7     Cale  South Dakota           814191            1
8     Iris    Washington          6724543           10
9     Iris        Oregon          3831073            5
10    Iris    California         37254503           53

## Sort by values again

Then, we'll sort the rows "descending" and "in place" by the populatin column.

In [5]:
ps_tidy_pop.sort_values(by=['population_2010'], ascending=False, inplace=True)
ps_tidy_pop

      name         state  population_2010  house_seats
4      Sue    California         37254503           53
10    Iris    California         37254503           53
5   Tamika       Florida         18804623           27
1    Bobby      Michigan          9884129           14
6   Tamika    Washington          6724543           10
8     Iris    Washington          6724543           10
2      Sue     Wisconsin          5687289            8
9     Iris        Oregon          3831073            5
3      Sue        Nevada          2700691            4
7     Cale  South Dakota           814191            1
0    Bobby       Wyoming           563767            1

---

# Saving table out to a CSV file

Usually we can save to an Excel file, but we'd need to install another module
so, we'll save as CSV file for now, which is a very useful format.

- It's good practice to specify the `encoding`, which is the method used for recording characters beyond the 256 ASCII character set. 
- In this case we also don't need to save the `index` column to the file, so we'll turn that option off

In [6]:
ps_tidy_pop.to_csv('./data/PeopleStates_Merged.csv', encoding='utf-8', index=False)

## Save to JSON

Another option is to save as a JSON file. There are multiple "orientations":
[to_json docs](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_json.html)

`records` orientation will make a list of rows, each an object/dictionary

In [7]:
ps_tidy_pop.to_json('./data/PeopleStates_Merged.json', orient='records')